.App {
    /*text-align: center;*/
    width: 100%;
    height: 100%;
    position: absolute;

}

.App-header {
    min-height: 54px;
}

.navbar .navbar-brand {
    color: forestgreen !important;
}

.minimap-holder {
    width: 100%;
    padding-top: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.minimap-inner-holder {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.form-icon {
    width: 60px;
    height: 60px;
    pointer-events: none;
}

.btn-g-login {
    background: url(../assets/images/btn-g-login/btn_google_signin_light_normal_web@2x.png) no-repeat;
    background-size: cover !important;
    width: 200px;
    height: 48px;
}

.btn-g-login:active {
    background: url(../assets/images/btn-g-login/btn_google_signin_light_pressed_web@2x.png) no-repeat;
}

.btn-g-login:focus {
    background: url(../assets/images/btn-g-login/btn_google_signin_light_focus_web@2x.png) no-repeat;
}

.btn-g-login:disabled {
    background: url(../assets/images/btn-g-login/btn_google_signin_light_disabled_web@2x.png) no-repeat;
}

.navbar {
    padding: 0 1rem;
}

.navbar-toggler-icon {
    width: 1.7rem;
    height: 1.7rem;
}

.mb-2, .my-2 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.nav-link {
    padding: 7px 16px !important;
}

@media (max-width: 576px) {
    .navbar .hide_small {
        display: none;
    }

    .navbar-expand-sm .show_small {
        display: block;
    }

    /*.navbar {*/
    /*padding: 0.5rem 1rem;*/
    /*}*/

}

@media (min-width: 576px) {
    .navbar .hide_small {
        display: block;
    }

    .navbar-expand-sm .show_small {
        display: none;
    }

}

.pac-container {
    z-index: 1099;
}

.address-search-modal {
    min-height: calc(100% - 100px) !important;
}

.address-search-modal .modal-content,
.address-search-modal .modal-body {
    min-height: 100%;
}

.field.mr-sm-2 {
    width: 100%;
    margin-right: 0 !important;
}

.field.mr-sm-2 input {
    width: calc(100% - 49px);
}

.user-image {
    width: 2.5rem;
    height: 2.5rem;
    /*margin-top: -40px;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    border-radius: 50%;
    /*margin-left: -1rem !important;*/
    /*margin-right: 2rem !important;*/

}

.location-user-image {
    position: absolute;
    right: 10px;
    top: 10px;
}

.user-panel .user-image {
    width: 4rem;
    height: 4rem;
    /*margin-top: -40px;*/
    /*position: absolute;*/
    /*bottom: 10px;*/
    margin-left: -0.7rem !important;
    /*margin-right: 2rem !important;*/

}

.user-panel .nav-link {
    display: inline;

}

.comment-block .add-comment{
    display: flex;
    width: 100%;
}
.comment-block .comment-row {
      display: flex;
      width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.comment-block .add-comment .user-image, .comment-row .user-image {
    float: left;
    margin: auto 1rem auto 0;
}

.comment-block .add-comment .add-comment-input {
    float: right;
    width: calc(100% - 2.5rem);
}

.comment-row .comment {
    float: right;
    margin: auto 1rem auto 0;
}